# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
venv/
.env

# Compiled binaries
*.exe
*.o
*.obj
*.res
*.ilk
*.pdb
*.manifest

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Project specific
organizer.exe
organizer.o
organizer.res
urfm
urfm.exe
organizer.log
release/

# Node / Website
frontend-web/node_modules/
frontend-web/dist/

# Archives
*.zip
*.tar.gz
